<div class="btn-group mr-3">
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-primary" ngbDropdownToggle>Metro Lines</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button (click)="onSelect(line)" *ngFor="let line of metroLines" class="dropdown-item">{{ line }}</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-success" ngbDropdownToggle>RER Lines</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button (click)="onSelect(line)" *ngFor="let line of rerLines" class="dropdown-item">{{ line }}</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-info" ngbDropdownToggle>Daytime Bus Routes</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button class="dropdown-item">One</button>
      <button class="dropdown-item">Two</button>
      <button class="dropdown-item">Four!</button>
    </div>
  </div>
  <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
    <button class="btn btn-outline-dark" ngbDropdownToggle>Nighttime Bus Routes</button>
    <div class="dropdown-menu" ngbDropdownMenu>
      <button class="dropdown-item">One</button>
      <button class="dropdown-item">Two</button>
      <button class="dropdown-item">Four!</button>
    </div>
  </div>
</div>
