<div class="container pt-4">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <mgl-map
        [style]="'mapbox://styles/mapbox/dark-v9'"
        [zoom]="[zoom]"
        [center]="coordinates"
      >
        <mgl-layer
          id="metro-lines"
          type="line"
          [source]=lines
          [paint]="{
            'line-color': color,
            'line-width': 2
          }"
        >
        </mgl-layer>
        <mgl-layer
          id="metro-stations"
          type="circle"
          [source]=stations
        >
        </mgl-layer>
      </mgl-map>
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
