<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <mgl-map
        [style]="'mapbox://styles/mapbox/dark-v9'"
        [zoom]="[zoom]"
        [center]="coordinates"
      >
          <mgl-layer
            id="metro-lines"
            type="line"
            [source]=lines
            [paint]="{
              'line-color': color,
              'line-width': 2
            }"
          >
          </mgl-layer>
      </mgl-map>
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
